# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
basic/node_modules
conf/node_modules
basic/.pnp
basic.pnp.js

# testing
basic/coverage

# production
basic/build
conf/build

# misc
basic/.DS_Store
basic/.env.local
basic/.env.development.local
basic/.env.test.local
basic/.env.production.local

basic/npm-debug.log*
basic/yarn-debug.log*
basic/yarn-error.log*
basic/yarn.lock
conf/npm-debug.log*
conf/yarn-debug.log*
conf/yarn-error.log*
conf/yarn.lock
